<%- include('partials/header'); -%>

<h1>Compose</h1>

<form action="/compose" method="post">
  <div class="box">
    <div class="form-group">
      <label for="composeTitle">Title</label>
      <input type="text" name="composeTitle" class="form-control">
      <label for="composePost">Post</label>
      <textarea name="composePost" id="" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button type="submit" name="publishText" class="btn btn-md btn-primary">Publish</button>

  </div>
</form>

<%- include('partials/footer'); -%>